/.ipynb_checkpoints
/Arshiya_Ansari/build/
/Arshiya_Ansari/dist/
/Arshiya_Ansari/SITH_Layer.egg-info/
/train
/SITH_Layer.egg-info/
.DS_Store
/Yibo_Wang/.ipynb_checkpoints
/Arshiya_Ansari/.ipynb_checkpoints
/Gaurav_Anand/.ipynb_checkpoints
/Gaurav_Anand/__pycache__
/Arshiya_Ansari/DeepSITH_testing_copy.ipynb
